@charset "UTF-8";
/**
 * Customized PukiWiki Advance skin for PukiWiki by root-SBH.
 * Original(PukiWiki Plus!) version written by miko and upk.
 * Adv version by Logue.
 *
 * $Id: adv_color.css,v 1.0.0 2023/03/13 19:33:00 root-SBH Exp $
 */

body {
	background-color: whitesmoke;
}

::selection,
::-moz-selection {
	background: RoyalBlue;
	color: white;
}

a:not(.btn):not([role="presentation"]) {
	-webkit-tap-highlight-color: #5E99FF;
}

a:not(.btn):not([role="presentation"]):active {
	color: #215dc6;
}

a:not(.btn):not([role="presentation"]):visited {
	color: #a63d21;
}

a:not(.btn):not([role="presentation"]):hover {
	color: #215dc6;
	background-color: #CCDDEE;
}

:is(h1, h2, h3, h4, h5, h6) {
	background-image: -ms-linear-gradient(top, white, whitesmoke);
	background-image: -moz-linear-gradient(top, white, whitesmoke);
	background-image: -webkit-linear-gradient(top, white, whitesmoke);
	box-shadow: 0 1px 6px silver;
	text-shadow: 0 0 2px silver, 0px 2px 0 white;
}

#hgroup h1 {
	color: #0000cc;
}

h1 {
	border-color: white white black MidnightBlue;
}

h2 {
	border-color: white white dimgray Blue;
}

h3 {
	border-color: white white dimgray RoyalBlue;
}

h4 {
	border-color: silver silver grey CornflowerBlue;
}

h5 {
	border-color: #f8f8ff #f8f8ff #999999 #66ccff;
}

h6 {
	border-color: #f8f8ff #f8f8ff #999999 #88c8f0;
}

dt {
	color: #333366;
}

pre {
	border-color: #DDDDEE #888899 #888899 #DDDDEE;
	background-color: #f0f8ff;
	background-image: -ms-linear-gradient(top, #f0f8ff, #e5f3ff);
	background-image: -moz-linear-gradient(top, #f0f8ff, #e5f3ff);
	background-image: -webkit-linear-gradient(top, #f0f8ff, #e5f3ff);
	box-shadow: 2px 2px 4px gainsboro;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, .25);
}

q {
	border-color: #999;
}

/* textarea,
input,
select {
	
} */

:is(thead, tfoot) td.style_td {
	color: inherit;
	background-color: #D0D8E0;
}

:is(thead, tfoot) th.style_th {
	color: inherit;
	background-color: #E0E8F0;
}

.style_table {
	color: inherit;
	background-color: #ccd5dd;
}

.style_th {
	color: inherit;
	background-color: #EEEEEE;
}

.style_td {
	color: inherit;
	background-color: #EFf5ff;
}

.style_td_blank {
	color: inherit;
	background-color: #E3EAF6;
}

span.noexists {
	color: inherit;
	background-color: #FFFACC;
}

.week_sat {
	color: blue;
}

.week_day {
	color: black;
}

.week_sun,
.week_holiday {
	color: red;
}

.super_index {
	color: #DD3333;
	background-color: inherit;
}

.note_super {
	color: #DD3333;
	background-color: inherit;
}

/* html.php/catbody() search word */
strong.word0 {
	background-color: #FFFF66;
	color: black;
}

strong.word1 {
	background-color: #A0FFFF;
	color: black;
}

strong.word2 {
	background-color: #99FF99;
	color: black;
}

strong.word3 {
	background-color: #FF9999;
	color: black;
}

strong.word4 {
	background-color: #FF66FF;
	color: black;
}

strong.word5 {
	background-color: #880000;
	color: white;
}

strong.word6 {
	background-color: #00AA00;
	color: white;
}

strong.word7 {
	background-color: #886800;
	color: white;
}

strong.word8 {
	background-color: #004699;
	color: white;
}

strong.word9 {
	background-color: #990099;
	color: white;
}

hr {
	border-color: slategray;
}

hr.full_hr,
hr.note_hr {
	border-color: #333333;
}

::-webkit-scrollbar-track {
	background: whitesmoke;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	background: #DDF0FF;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Layout */
#main_wrapper,
#menubar,
#rightbar {
	background-color: #effcff;
}

#header-title :is(h1, h2) {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, .25);
}

#topicpath {
	background-color: #effcff;
	border-radius: 4px;
}

/* User Add */
#sp-header {
	background-color: #effcff;
}

#sp-navigator {
	background-color: #effcff;
}

@media (max-width:767px) {
	#navigator {
		background-color: #effcff;
	}
}

.navibarIconToggle,
.menubarIconToggle {
	background: #bcddff;
}

input[type="checkbox"]#openMenubar:checked ~ #sp-header > .menubarIconToggle,
input[type="checkbox"]#openNavibar:checked ~ #sp-header>.navibarIconToggle {
	background: #60afff;
}

/** MenuBar/Rightbar *******************************************************************************/

#menubar :is(h1, h2, h3, h4, h5, h6),
#rightbar :is(h1, h2, h3, h4, h5, h6) {
	border-color: #99CCFF;
	background-color: #DDF0FF;
	text-shadow: 0 0 2px #b2dbff, 0px 2px 0 white;
	background-image: -ms-linear-gradient(top, #DDF0FF, #cce7ff);
	background-image: -moz-linear-gradient(top, #DDF0FF, #cce7ff);
	background-image: -webkit-linear-gradient(top, #DDF0FF, #cce7ff);
}

/** Plugin ****************************************************************************************/

/* backup.inc.php */
.add_word,
.add_block {
	background-color: #FFFF66;
}

.remove_word,
.remove_block {
	background-color: #A0FFFF;
}

/* calendar.inc.php */
.style_calendar {
	color: inherit;
	background-color: #CCD5DD;
}

.style_td_caltop {
	color: inherit;
	background-color: #EEF5FF;
}

.style_td_today {
	color: inherit;
	background-color: #FFFFDD;
}

.style_td_sat {
	color: inherit;
	background-color: #DDE5FF;
}

.style_td_sun {
	color: inherit;
	background-color: #FFEEEE;
}

.style_td_blank {
	color: inherit;
	background-color: #EEF5FF;
}

.style_td_day {
	color: inherit;
	background-color: #EEF5FF;
}

.style_td_week {
	color: inherit;
	background-color: #DDE5EE;
}

.style_calendar tbody td:hover {
	color: inherit;
	background-color: #DDFFFF !important;
}

/* calendar_viewer.inc.php */
div.calendar_viewer {
	color: inherit;
	background-color: inherit;
}

span.calendar_viewer_left {
	color: inherit;
	background-color: inherit;
}

span.calendar_viewer_right {
	color: inherit;
	background-color: inherit;
}

/* diff.inc.php */
span.diff_added {
	color: blue;
	background-color: inherit;
}

span.diff_removed {
	color: red;
	background-color: inherit;
}

/* hr.inc.php */
hr.short_line {
	border-color: #333333;
}

/* new.inc.php */
span.new1 {
	color: red;
	background-color: transparent;
}

span.new5 {
	color: green;
	background-color: transparent;
}

/* tooltip.inc.php */
.tooltip,
.linktip {
	color: #006565;
}

.tooltip:hover,
.linktip:hover {
	background-color: #e1ffe4;
}

/* vote.inc.php */
td.vote_label {
	color: inherit;
	background-color: #FFCCCC;
}

td.vote_td1 {
	color: inherit;
	background-color: #DDE5FF;
}

td.vote_td2 {
	color: inherit;
	background-color: #EEF5FF;
}

/* bugtrack.inc.php */
tr.bugtrack_list_header th {
	background-color: #ffffcc;
}

tr.bugtrack_state_proposal td {
	background-color: #ccccff;
}

tr.bugtrack_state_accept td {
	background-color: #ffcc99;
}

tr.bugrack_state_resolved td {
	background-color: #ccffcc;
}

tr.bugtrack_state_pending td {
	background-color: #ffccff;
}

tr.bugtrack_state_cancel td {
	background-color: #cccccc;
}

tr.bugtrack_state_undef td {
	background-color: #ff3333;
}

/* search2.inc.php  */
.search-result-page-summary {
	color: gray;
}